# C++ build artifacts
build/
.cache

# WebAssembly binaries
*.wasm

# Node dependencies
node_modules/

# Scoped local build directories
**/@void/
**/@tgrv/

# System and logs
.DS_Store
*.log
compile_commands.json